## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

## Optimize the Model

In [2]:
#value counts for status column to be dropped
application_df["STATUS"].value_counts()

STATUS
1    34294
0        5
Name: count, dtype: int64

In [3]:
#value counts for special column to be dropped
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

STATUS and SPECIAL_CONSIDERATIONS can possibly be dropped since they're small percentages of projects that fit into minority categories

In [4]:
# drop the non-beneficial EIN column
application_df = application_df.drop(application_df.columns[[0, 7, 9]], axis=1)
application_df.head(2)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1

In [5]:
# display the number of unique values
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [6]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()
#how many > 5?
name_counts[name_counts > 5]

NAME
PARENT BOOSTER USA INC                                        1260
TOPS CLUB INC                                                  765
UNITED STATES BOWLING CONGRESS INC                             700
WASHINGTON STATE UNIVERSITY                                    492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                408
                                                              ...
QUAIL FEDERATION INC                                             6
DEPARTMENT OF OREGON LADIES AUXILLARY TO THE VFW OF THE US       6
EAST VIEW SPORTS COALITION                                       6
FULBRIGHT ASSOCIATION INC                                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS                     6
Name: count, Length: 354, dtype: int64

In [7]:
names_to_replace = list(name_counts[name_counts <=5].index)

for app in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(app,"Other")

application_df['NAME'].value_counts()

NAME
Other                                                 20043
PARENT BOOSTER USA INC                                 1260
TOPS CLUB INC                                           765
UNITED STATES BOWLING CONGRESS INC                      700
WASHINGTON STATE UNIVERSITY                             492
                                                      ...
SOCIETY FOR CREATIVE ANACHRONISM                          6
CBMC INC                                                  6
FAMILY CAREER AND COMMUNITY LEADERS OF AMERICA INC        6
NATIONAL CHARITY LEAGUE INC                               6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC                 6
Name: count, Length: 355, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
#Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [12]:
#Determine which should be replaced if counts are less than 1000
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [14]:
#Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [16]:
#perform one hot coding
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head(3)

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [17]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis="columns").values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
layer1Nodes = 100
layer2Nodes = 30
layer3Nodes = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1Nodes, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer2Nodes, input_dim=number_input_features, activation='sigmoid')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer3Nodes, input_dim=number_input_features, activation='sigmoid')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                           39,600

 dense_1 (Dense)                       (None, 30)                             3,030

 dense_2 (Dense)                       (None, 10)                               310

 dense_3 (Dense)                       (None, 1)                                 11

 Total params: 42,951 (167.78 KB)

 Trainable params: 42,951 (167.78 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  6s 4ms/step - accuracy: 0.7345 - loss: 0.5532
Epoch 2/100
804/804  4s 4ms/step - accuracy: 0.7884 - loss: 0.4467
Epoch 3/100
804/804  3s 3ms/step - accuracy: 0.7984 - loss: 0.4303
Epoch 4/100
804/804  3s 3ms/step - accuracy: 0.7936 - loss: 0.4334
Epoch 5/100
804/804  3s 3ms/step - accuracy: 0.7977 - loss: 0.4295
Epoch 6/100
804/804  3s 3ms/step - accuracy: 0.7982 - loss: 0.4229
Epoch 7/100
804/804  5s 3ms/step - accuracy: 0.7987 - loss: 0.4248
Epoch 8/100
804/804  3s 3ms/step - accuracy: 0.7952 - loss: 0.4291
Epoch 9/100
804/804  3s 3ms/step - accuracy: 0.7967 - loss: 0.4226
Epoch 10/100
804/804  3s 4ms/step - accuracy: 0.7987 - loss: 0.4222
Epoch 11/100
804/804  3s 3ms/step - accuracy: 0.7995 - loss: 0.4181
Epoch 12/100
804/804  2s 3ms/step - accuracy: 0.7959 - loss: 0.4222
Epoch 13/100
804/804  3s 3ms/step - accuracy: 0.7968 - loss: 0.4208
Epoch 14/100
804/804  2s 3ms/step - accuracy: 0.8023 - loss: 0.4162
Epoch 15/100
804/804  4s 4ms/step - accuracy: 0.7985 - loss: 0.4204
Epoch 16/100
804/804  4s 3ms/step - accuracy: 0.7993 - loss: 0.4167
Epoch 17/100
804/804  6s 4ms/step - accuracy: 0.7971 - loss: 0.4185
Epoch 18/100
804/804  4s 3ms/step - accuracy: 0.7994 - loss: 0.4194
Epoch 19/100
804/804  5s 3ms/step - accuracy: 0.8014 - loss: 0.4144
Epoch 20/100
804/804  3s 4ms/step - accuracy: 0.8000 - loss: 0.4149
Epoch 21/100
804/804  3s 4ms/step - accuracy: 0.7939 - loss: 0.4191
Epoch 22/100
804/804  2s 3ms/step - accuracy: 0.8002 - loss: 0.4141
Epoch 23/100
804/804  3s 3ms/step - accuracy: 0.7999 - loss: 0.4159
Epoch 24/100
804/804  2s 3ms/step - accuracy: 0.8020 - loss: 0.4125
Epoch 25/100
804/804  3s 4ms/step - accuracy: 0.8046 - loss: 0.4086
Epoch 26/100
804/804  2s 3ms/step - accuracy: 0.7965 - loss: 0.4206
Epoch 27/100
804/804  2s 3ms/step - accuracy: 0.8031 - loss: 0.4121
Epoch 28/100
804/804  3s 3ms/step - accuracy: 0.8063 - loss: 0.4065
Epoch 29/100
804/804  3s 4ms/step - accuracy: 0.7988 - loss: 0.4123
Epoch 30/100
804/804  3s 4ms/step - accuracy: 0.8024 - loss: 0.4137
Epoch 31/100
804/804  4s 3ms/step - accuracy: 0.8029 - loss: 0.4098
Epoch 32/100
804/804  3s 4ms/step - accuracy: 0.8017 - loss: 0.4122
Epoch 33/100
804/804  3s 4ms/step - accuracy: 0.7992 - loss: 0.4174
Epoch 34/100
804/804  3s 4ms/step - accuracy: 0.8018 - loss: 0.4120
Epoch 35/100
804/804  5s 3ms/step - accuracy: 0.8034 - loss: 0.4114
Epoch 36/100
804/804  2s 3ms/step - accuracy: 0.7992 - loss: 0.4153
Epoch 37/100
804/804  4s 5ms/step - accuracy: 0.7980 - loss: 0.4142
Epoch 38/100
804/804  4s 3ms/step - accuracy: 0.7974 - loss: 0.4144
Epoch 39/100
804/804  5s 3ms/step - accuracy: 0.8026 - loss: 0.4108
Epoch 40/100
804/804  5s 4ms/step - accuracy: 0.8045 - loss: 0.4115
Epoch 41/100
804/804  3s 3ms/step - accuracy: 0.8056 - loss: 0.4054
Epoch 42/100
804/804  2s 3ms/step - accuracy: 0.8028 - loss: 0.4086
Epoch 43/100
804/804  2s 3ms/step - accuracy: 0.8024 - loss: 0.4069
Epoch 44/100
804/804  4s 4ms/step - accuracy: 0.8036 - loss: 0.4055
Epoch 45/100
804/804  4s 3ms/step - accuracy: 0.8004 - loss: 0.4105
Epoch 46/100
804/804  5s 4ms/step - accuracy: 0.8032 - loss: 0.4107
Epoch 47/100
804/804  3s 4ms/step - accuracy: 0.8059 - loss: 0.4046
Epoch 48/100
804/804  4s 3ms/step - accuracy: 0.8038 - loss: 0.4074
Epoch 49/100
804/804  5s 3ms/step - accuracy: 0.8044 - loss: 0.4065
Epoch 50/100
804/804  5s 3ms/step - accuracy: 0.8058 - loss: 0.4039
Epoch 51/100
804/804  5s 4ms/step - accuracy: 0.8055 - loss: 0.4056
Epoch 52/100
804/804  4s 5ms/step - accuracy: 0.8062 - loss: 0.4066
Epoch 53/100
804/804  3s 3ms/step - accuracy: 0.8030 - loss: 0.4069
Epoch 54/100
804/804  3s 3ms/step - accuracy: 0.8054 - loss: 0.4066
Epoch 55/100
804/804  6s 4ms/step - accuracy: 0.8013 - loss: 0.4118
Epoch 56/100
804/804  5s 3ms/step - accuracy: 0.8098 - loss: 0.3980
Epoch 57/100
804/804  5s 3ms/step - accuracy: 0.8012 - loss: 0.4090
Epoch 58/100
804/804  3s 4ms/step - accuracy: 0.8031 - loss: 0.4073
Epoch 59/100
804/804  3s 4ms/step - accuracy: 0.8048 - loss: 0.4045
Epoch 60/100
804/804  5s 3ms/step - accuracy: 0.8048 - loss: 0.4068
Epoch 61/100
804/804  3s 3ms/step - accuracy: 0.8018 - loss: 0.4070
Epoch 62/100
804/804  4s 4ms/step - accuracy: 0.8023 - loss: 0.4078
Epoch 63/100
804/804  4s 3ms/step - accuracy: 0.8087 - loss: 0.3995
Epoch 64/100
804/804  3s 3ms/step - accuracy: 0.8078 - loss: 0.4007
Epoch 65/100
804/804  6s 4ms/step - accuracy: 0.8045 - loss: 0.4092
Epoch 66/100
804/804  4s 4ms/step - accuracy: 0.8049 - loss: 0.4023
Epoch 67/100
804/804  3s 3ms/step - accuracy: 0.8076 - loss: 0.3998
Epoch 68/100
804/804  5s 4ms/step - accuracy: 0.8015 - loss: 0.4105
Epoch 69/100
804/804  5s 4ms/step - accuracy: 0.8068 - loss: 0.4032
Epoch 70/100
804/804  4s 3ms/step - accuracy: 0.8056 - loss: 0.4057
Epoch 71/100
804/804  5s 3ms/step - accuracy: 0.8037 - loss: 0.4106
Epoch 72/100
804/804  3s 3ms/step - accuracy: 0.8018 - loss: 0.4063
Epoch 73/100
804/804  3s 3ms/step - accuracy: 0.8026 - loss: 0.4065
Epoch 74/100
804/804  3s 3ms/step - accuracy: 0.8003 - loss: 0.4086
Epoch 75/100
804/804  4s 4ms/step - accuracy: 0.8015 - loss: 0.4071
Epoch 76/100
804/804  3s 3ms/step - accuracy: 0.8084 - loss: 0.4004
Epoch 77/100
804/804  5s 3ms/step - accuracy: 0.8049 - loss: 0.4060
Epoch 78/100
804/804  6s 4ms/step - accuracy: 0.8071 - loss: 0.4048
Epoch 79/100
804/804  3s 3ms/step - accuracy: 0.8079 - loss: 0.4049
Epoch 80/100
804/804  2s 3ms/step - accuracy: 0.8073 - loss: 0.4026
Epoch 81/100
804/804  3s 3ms/step - accuracy: 0.8053 - loss: 0.4033
Epoch 82/100
804/804  5s 4ms/step - accuracy: 0.8024 - loss: 0.4038
Epoch 83/100
804/804  3s 4ms/step - accuracy: 0.8019 - loss: 0.4089
Epoch 84/100
804/804  3s 3ms/step - accuracy: 0.8035 - loss: 0.4069
Epoch 85/100
804/804  3s 4ms/step - accuracy: 0.8045 - loss: 0.4061
Epoch 86/100
804/804  3s 4ms/step - accuracy: 0.8069 - loss: 0.4050
Epoch 87/100
804/804  5s 3ms/step - accuracy: 0.8010 - loss: 0.4073
Epoch 88/100
804/804  6s 4ms/step - accuracy: 0.8066 - loss: 0.4052
Epoch 89/100
804/804  4s 4ms/step - accuracy: 0.8006 - loss: 0.4090
Epoch 90/100
804/804  3s 3ms/step - accuracy: 0.8065 - loss: 0.4050
Epoch 91/100
804/804  3s 4ms/step - accuracy: 0.8070 - loss: 0.4021
Epoch 92/100
804/804  4s 4ms/step - accuracy: 0.8024 - loss: 0.4074
Epoch 93/100
804/804  4s 3ms/step - accuracy: 0.8045 - loss: 0.4041
Epoch 94/100
804/804  5s 4ms/step - accuracy: 0.8027 - loss: 0.4052
Epoch 95/100
804/804  5s 3ms/step - accuracy: 0.8029 - loss: 0.4067
Epoch 96/100
804/804  3s 3ms/step - accuracy: 0.8056 - loss: 0.4039
Epoch 97/100
804/804  3s 3ms/step - accuracy: 0.8038 - loss: 0.4056
Epoch 98/100
804/804  3s 4ms/step - accuracy: 0.8050 - loss: 0.4063
Epoch 99/100
804/804  3s 4ms/step - accuracy: 0.8077 - loss: 0.3992
Epoch 100/100
804/804  3s 3ms/step - accuracy: 0.8076 - loss: 0.4026

In [22]:
#Evaluate the model using the test data
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 4ms/step - accuracy: 0.7985 - loss: 0.4513
Loss: 0.4512541592121124, Accuracy: 0.7984839677810669

## ATTEMPTING A RANDOM FOREST CLASSIFIER ON THE DATASET

In [27]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [28]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

#fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

#Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.781